<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Notes - <%= book.name %></title>
    <link rel="stylesheet" href="styles/main.css">
    <link href="https://fonts.cdnfonts.com/css/avenir-lt-pro" rel="stylesheet">
</head>
<body class="gradient-background">
    <header>
        <a href="https://openlibrary.org/" target="_blank"><img height="25" width="100" src="https://openlibrary.org/static/images/openlibrary-logo-tighter.svg"></a>
        <h1>bookNotes</h1>
    </header>
    <main>
        <div class="book-list">
            <div class="book-list-item">
                <div class="book-cover">
                    <img src="<%= book.img_url %>" style="border-radius: 16px;" height="200" width="150" alt="Cover of <%= book.name %>">
                    <% if (locals.olid) {%>
                        <a class="external-link" href="https://openlibrary.org/books/<%= olid %>" target="_blank">Learn More</a>
                    <% } %>
                    <form action="/back" id="back" class="back" method="GET">
                        <button type="submit" class="form-submit">← Back</button>
                    </form>
                    <form action="/edit" id="edit" class="edit" method="GET">
                        <input type="hidden" name="id" value="<%= book.id %>">
                        <button type="submit" class="form-submit">Edit</button>
                    </form>
                    <form action="/delete" id="delete" class="delete" method="GET">
                        <input type="hidden" name="id" value="<%= book.id %>">
                        <button type="submit" class="form-submit">Delete</button>
                    </form>
                </div>
                <div class="other-info">
                    <h2><%= book.name %> by <%= book.author %></h2>
                    <h4>Date Read: <%= book.date.getFullYear() %>-<%= book.date.getMonth() + 1 %>-<%= book.date.getDate() %> --- Rate: <%= book.rate %>/10</h4>
                    <p class="preserve-whitespace"><%= book.note %></p>
                </div>
            </div>
        </div>
        <button onclick="topFunction()" id="top" title="Go to top">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-up" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708z"/>
            </svg>
        </button>
    </main>
    <footer>
        <p>© <%= new Date().getFullYear() %> Salim Kılınç</p>
    </footer>
    <script>
        let mybutton = document.getElementById("top");
        window.onscroll = function() {scrollFunction()};

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
</body>
</html>